{
"files":
{  "/opt/elasticbeanstalk/tasks/taillogs.d/my-app.conf" :
 {   "mode": "000755",
    "owner": "root",
    "group": "root",
    "content": "|/var/log/myapp.log"
 },
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/my-app.conf" :
  {
      "mode": "000755",
      "owner": "root",
      "group": "root",
      "content": "|/var/log/myapp.log"
    
  }
}
}